body{
    background-image: linear-gradient(to right, rgba(255, 255, 0, 0), rgba(255, 255, 0, 1));
}
img{
    width: 100%;
}
#location_div{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto;
    row-gap: 50px;
    padding-top: 10%;
    justify-content: center;
    align-content: center;
}
#welcome-header{
    text-align: center;
    color: red;
}
#layout-div{
    column-count: 3;
    justify-items: auto;
}
#home-div{
    text-align: center;
}
#burgers-link{
    border: solid;
    border-color: red;
}
#hotdrinks-link{
    border: solid;
    border-color: red;
}
#sweets-link{
    border: solid;
    border-color: red;
}
